{
  "manifest_version": 3,
  "name": "Odoo Kiosk Addon",
  "version": "{{ firefox_extension_version }}",
  "browser_specific_settings": {
    "gecko": {
      "id": "{{ firefox_extension_id }}"
    }
  },
  "content_scripts": [
    {
      "matches": [
        "https://*.superquinquin.fr/*",
        "https://*.foodcoop12.trobz.com/*"
      ],
      "js": ["auth.js", "header.js", "invoice.js"],
      "run_at": "document_idle"
    }
  ]
}
