set default="0"
set timeout=-1

if loadfont /boot/grub/font.pf2 ; then
    terminal_output gfxterm
fi

set theme=/boot/grub/themes/theme.txt

menuentry 'Press Enter...' {
    linux /install.amd/gtk/vmlinuz vga=788 DEBIAN_FRONTEND=gtk auto=true priority=critical locale=en_US.UTF-8 keymap=fr(latin9) preseed/file=/preseed.cfg --- quiet
    initrd /install.amd/gtk/initrd.gz
}
