FIREFOX_URL="{{ kiosk_url }}"
FIREFOX_PROFILE="{{ kiosk_profile }}"
{% if kiosk_mode %}
FIREFOX_MODE=--kiosk
{% endif %}
{% if ansible_virtualization_type not in ["none", ""] %}
WLR_NO_HARDWARE_CURSORS=1
{% endif %}
XKB_DEFAULT_LAYOUT=fr
XKB_DEFAULT_MODEL=pc105
XKB_DEFAULT_VARIANT=oss
