[Unit]
Description=Cage Wayland compositor on %I
After=systemd-user-sessions.service plymouth-quit-wait.service
Before=graphical.target
ConditionPathExists=/dev/%I
Wants=dbus.socket systemd-logind.service kanshi.service
After=dbus.socket systemd-logind.service getty@%i.service
Conflicts=getty@%i.service

[Service]
Type=simple
EnvironmentFile=/etc/default/cage
ExecStart=/usr/bin/cage -s -- /usr/bin/firefox {{ kiosk_options }} ${KIOSK_URL}
ExecStartPost=+sh -c "tty_name='%i'; exec chvt $${tty_name#tty}"
Restart=always
User={{ kiosk_user }}
Group={{ kiosk_user }}
UtmpIdentifier=%I
UtmpMode=user
TTYPath=/dev/%I
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty-fail
PAMName={{ kiosk_user }}

[Install]
WantedBy=graphical.target
DefaultInstance=tty1
