ANSIBLE_URL={{ installer_url }}
ANSIBLE_BRANCH={{ installer_branch }}
ANSIBLE_DIRECTORY=/var/lib/ansible/kiosk-installer
ANSIBLE_INVENTORY=/var/lib/ansible/kiosk-installer/ansible/scripts/local.py
ANSIBLE_CONFIG=/var/lib/ansible/kiosk-installer/ansible/ansible.cfg
