#_preseed_V1

# Source : https://www.debian.org/releases/stable/amd64/apbs04.en.html

###
### B.4.1 Localization
###

d-i debian-installer/locale string en_US.UTF-8
d-i debian-installer/language string en
d-i debian-installer/country string FR

d-i keyboard-configuration/xkb-keymap select fr(latin9)
d-i keyboard-configuration/keymap select fr(latin9)

###
### B.4.2 Network configuration
###

d-i netcfg/wireless_wep string

###
### B.4.4 Mirror settings
###

d-i mirror/http/hostname string ftp.fr.debian.org

###
### B.4.5 Account setup
###

d-i passwd/root-login boolean false
d-i passwd/username string ansible
d-i passwd/user-uid string 1001
d-i passwd/user-fullname string ansible
d-i passwd/user-password-crypted password !

###
### B.4.6 Clock and time zone setup
###

d-i time/zone string Europe/Paris

###
### B.4.7 Partitioning
###

d-i partman/early_command string \
    DEVICE=$(list-devices disk | head -n1); \
    debconf-set partman-auto/disk "$DEVICE"; \
    debconf-set grub-installer/bootdev "$DEVICE"

d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select main-recipe

d-i partman-auto/expert_recipe string                         \
      main-recipe ::                                          \
              500 500 500 ext4                                \
                      $primary{ } $bootable{ }                \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext4 }    \
                      mountpoint{ /boot }                     \
              .                                               \
              8000 8000 8000 linux-swap                       \
                      $primary{ }                             \
                      method{ swap } format{ }                \
              .                                               \
              1000 10000 -1 ext4                              \
                      $primary{ }                             \
                      method{ format } format{ }              \
                      use_filesystem{ } filesystem{ ext4 }    \
                      mountpoint{ / }                         \
              .

d-i partman-basicfilesystems/no_mount_point boolean false
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

###
### B.4.8 Base system installation
###

d-i base-installer/install-recommends boolean false

###
### B.4.9 Apt setup
###

d-i apt-setup/services-select multiselect security, updates, release updates

###
### B.4.10 Package selection
###

d-i pkgsel/run_tasksel boolean false
d-i pkgsel/include string openssh-server default-dbus-session-bus systemd-resolved git ansible

###
### B.4.12 Finishing up the installation
###

d-i finish-install/reboot_in_progress note

d-i preseed/late_command string sh /cdrom/post-install.sh
